<!DOCTYPE html>
<html lang="en">

  <head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Mexant - Financial HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'patientsApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'main/css/bootstrap-icons.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'patientsApp/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'patientsApp/assets/css/templatemo-574-mexant.css' %}">
    <link rel="stylesheet" href="{% static 'patientsApp/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'patientsApp/assets/css/animate.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">

    <link rel="stylesheet" href="{% static 'Hospital/css/mainStyles.css' %}">
    <link rel="stylesheet" href="{% static 'doctorsApp/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'doctorsApp/css/inbox.css' %}">

  </head>

<body>

    <!-- Send block -->
    <form class="send-block" action="{% url 'doctorsApp:localInboxPost' %}" method="post">
        {% csrf_token %}
        <h5>Lukmana ugrat</h5>
        <input id="message-id" type="text" value="" name="message-id">
        <select class="form-input" name="doctor" id="doctor">
            {% for doctor in doctors %}
                <option value="{{ doctor.user.id }}">{{ doctor.user.username }}</option>
            {% endfor %}
        </select>
        <input class="form-input submit-input mt-4 mb-3" type="submit" name="submit" id="" value="Ugrat">
        <a class="close-icon" href=""><img class="reply-icon primary-filter" src="{% static 'Hospital/bootstrap-icons/x.svg' %}" alt=""></a>
    </form>

  <section class="row">
    <div class="col-2" id="sidebar">
      <h6>Lukman paneli</h6>
      <p>{{ request.user.username }}</p>

      <ul id="sidebar_menu">
        <li><a href="{% url 'doctorsApp:index' %}">Baş sahypa</a></li>
        <li><a href="#">Lukman profili</a></li>
      </ul>
    </div>
    
    <!-- Content -->
    <div class="col-10 services" id="services">
        <div class="container">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>N</th>
                        <th>Ady</th>
                        <th>Hat</th>
                        <th>Ugradylan senesi</th>
                        <th>Ulanyjy</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ message.title }}</td>
                            <td>{{ message.message }}</td>
                            <td>{{ message.created_at }}</td>
                            <td>{{ message.user.username }}</td>
                            <td class="reply-icon-container"><a id="{{ message.id }}" class="message-forward" href="#"><img class="reply-icon primary-filter" src="{% static 'Hospital/bootstrap-icons/reply-fill.svg' %}" alt=""></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'patientsApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'patientsApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'patientsApp/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'patientsApp/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'patientsApp/assets/js/wow.js' %}"></script>
    <script src="{% static 'patientsApp/assets/js/tabs.js' %}"></script>
    <script src="{% static 'patientsApp/assets/js/swiper.js' %}"></script>
    <script src="{% static 'patientsApp/assets/js/custom.js' %}"></script>
    <script>
      var interleaveOffset = 0.5;

      var swiperOptions = {
        loop: true,
        speed: 1000,
        grabCursor: true,
        watchSlidesProgress: true,
        mousewheelControl: true,
        keyboardControl: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        on: {
          progress: function() {
            var swiper = this;
            for (var i = 0; i < swiper.slides.length; i++) {
              var slideProgress = swiper.slides[i].progress;
              var innerOffset = swiper.width * interleaveOffset;
              var innerTranslate = slideProgress * innerOffset;
              swiper.slides[i].querySelector(".slide-inner").style.transform =
                "translate3d(" + innerTranslate + "px, 0, 0)";
            }      
          },
          touchStart: function() {
            var swiper = this;
            for (var i = 0; i < swiper.slides.length; i++) {
              swiper.slides[i].style.transition = "";
            }
          },
          setTransition: function(speed) {
            var swiper = this;
            for (var i = 0; i < swiper.slides.length; i++) {
              swiper.slides[i].style.transition = speed + "ms";
              swiper.slides[i].querySelector(".slide-inner").style.transition =
                speed + "ms";
            }
          }
        }
      };

      var swiper = new Swiper(".swiper-container", swiperOptions);
    </script>
    <script>
      document.getElementById("buttonSendRequest1").onclick = function () {
        location.href = "{% url 'patientsApp:create_request' %}";
      };
    </script>
    <script src="{% static 'doctorsApp/js/inbox.js' %}"></script>
  </body>
</html>
