<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabrsky Hospital ulgamyna giriň</title>

    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'Hospital/css/mainStyles.css' %}">

    <link rel="stylesheet" href="{% static 'login/css/index.css' %}">
</head>
<body>
    <form id="login_form" action="" method="post">
        {% csrf_token %}
        <h5>Ulgamyna giriň</h5>
        <input type="text" name="username" id="" placeholder="Email">
        <input type="text" name="password" id="" placeholder="Açar söz">
        <input type="subumit" name="submit" id="">
    </form>
    
    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
</body>
</html>
