<!DOCTYPE html>
<html lang="en">

  <head>

    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Ulanyjy</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'patientsApp/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'patientsApp/assets/css/templatemo-574-mexant.css' %}">

    <link rel="stylesheet" href="{% static 'Hospital/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Hospital/css/mainStyles.css' %}">
    <link rel="stylesheet" href="{% static 'doctorsApp/css/index.css' %}">
  </head>

<body>
  <section class="row">
    <div class="col-2" id="sidebar">
      <h6>Ulanyjynyň paneli</h6>
      <p>{{ request.user.username }}</p>

      <div id="sidebar_menu">
        <li><a href="{% url 'patientsApp:index' %}">Baş sahypa</a></li>
        <li><a href="#">Ulanyjynyň profili</a></li>
      </div>
    </div>
    <div class="col-10 services" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <button type="button" id="buttonSendRequest1" class="service-item">
              <img class="primary-filter" src="{% static 'Hospital/bootstrap-icons/envelope-plus.svg' %}">
              <h4>Hassahana hat ugratmak</h4>
              <p>Ähli lukmançylyk mesele barada hassahana hat iberiň.</p>
            </button>
          </div>
          <div class="col-lg-6">
            <button type="button" id="buttonSendRequest2" class="service-item">
              <img class="primary-filter" src="{% static 'Hospital/bootstrap-icons/envelope-check.svg' %}">
              <h4>Meniň ugradan hatlarym</h4>
              <p>Hassahana ugradylan hatlarymy görmek.</p>
            </button>
          </div>
          <div class="col-lg-6">
            <button type="button" id="buttonSendRequest3" class="service-item">
              <img class="primary-filter" src="{% static 'Hospital/bootstrap-icons/card-text.svg' %}">
              <h4>Hassahana kartany görmek</h4>
              <p>Meniň lukmançylyk kartamyň ýazgylaryny görmek.</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'patientsApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'patientsApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'patientsApp/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'patientsApp/assets/js/wow.js' %}"></script>
    <script src="{% static 'patientsApp/assets/js/tabs.js' %}"></script>
    <script src="{% static 'patientsApp/assets/js/index.js' %}"></script>

    <script>
      document.getElementById("buttonSendRequest1").onclick = function () {
        location.href = "{% url 'patientsApp:create_request' %}";
      };
      document.getElementById("buttonSendRequest2").onclick = function () {
        location.href = "{% url 'patientsApp:created_applications' %}";
      };
      document.getElementById("buttonSendRequest3").onclick = function () {
        location.href = "{% url 'patientsApp:card' %}";
      };
    </script>
  </body>
</html>